.main-screen {
    width: 100%;
    height: 40vh;
    background: #3c4043;
}

.mainScreen-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.mainScreen-wrapper {
    width: 50%;
}

.wrapper-board {
    width: 50%;
}

.footer {
    height: 10vh;
}

.img-container {
    background-color: #3c4043;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-container_img {
    max-width: 95%;
    max-height: 100%;
}