.participants {
  display: grid;
  /* grid-template-columns: repeat(var(--grid-size), 1fr); */
  grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), calc(100% / var(--grid-size)));
  grid-gap: 20px;
  height: 36vh;
  padding: 10px;
}

.participants img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .participants {
    grid-template-columns: repeat(var(--grid-col-size), 1fr);
    grid-template-rows: repeat(var(--grid-row-size), 1fr);
  }
}