.canvas-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-picker-wrapper {
    align-self: flex-start;
}

.color-picker {
    cursor: pointer;
    border-radius: 4px;
    -webkit-appearance: none;
    height: 30px;
    width: 60px;
    margin-left: 18px;
    background-color: #3c4043;
}

.modeBut {
    height: 30px;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
}

.canvas {
    background-color: white;
    width: 100%;
    height: 100%;
    aspect-ratio: auto
}

.controls {
    display: flex;
}

.text-mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}